// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.user-link {
  display: flex;
}

.user-index-link {
  padding-top: 20px;
}

.member-link {
  padding-left: 20px;
}


.right-message {
  text-align: right;
  padding-bottom: 25px;
  padding-top: 25px;
}

.balloon-right{
  position: relative;
  padding: 20px;
  background-color: #B993D6;
  border-radius: 30px;
}

.balloon-left{
  position: relative;
  padding: 20px;
  background-color: #8CA6DB;
  border-radius: 30px;
}



.left-message {
  text-align: left;
  padding-bottom: 25px;
  padding-top: 25px;
}

.submit {
  text-align: center;
}

.text_field {
  border-radius: 10px;
  border-color: #8CA6DB;
}
